.container {
    padding-top: 76px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.header {
    grid-column: 1 / 13;
}

.description {
    grid-column: 3 / 11;
    padding: 60px 0;
}

.badgeHowItWorks {
    grid-column: 1 / 13;
}

.infoCardContainer {
    grid-column: 1 / 13;
    margin-bottom: 120px;
}

.badgeFAQ {
    grid-column: 4 / 7;
    justify-self: flex-end;
}

.faqContainer {
    grid-column: 7 / 13;
    margin-bottom: 120px;
}

.cta {
    grid-column: 1 / 13;
    margin-bottom: 120px;
}

@media (max-width: 880px) {
    .description {
        grid-column: 1 / 13;
    }

    .badgeFAQ {
        grid-column: 1 / 13;
        justify-self: flex-start;
    }

    .faqContainer {
        grid-column: 1 / 13;
    }


}

@media (max-width: 1050px) {
    .ctaAdjustements {
        height: 70px;
    }
}