.container {
    padding: 8px 12px;
    border-radius: var(--border-radius-button);
}

.container:hover {
    opacity: 1;
}

.container:hover:not(.active) {
    background-color: var(--bg-menu-item-hover);
}

.active {
    background-color: var(--color-grey-75);
    font-weight: bold;
}