.donationsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

/* Loading */
.loadingSkeleton {
    height: 113px;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-grey-25);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--color-grey-25);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}