.donationsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.placeholder {
    color: var(--color-grey-100);
}

.backLinkMobile {
    margin: 0 -24px;
    display: none !important;
}

@media(max-width: 768px) {
    .container {
        padding-top: 24px;
    }

    .backLinkMobile {
        display: flex !important;
    }
}

/* Loading */
.loadingSkeleton {
    height: 113px;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-grey-25);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--color-grey-25);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}