.container {
    position: relative;
    height: 36px;
    width: min-content;
}

.menuItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: max-content;
    min-height: 36px;
    padding: 0 16px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
}

.menuItem.active {
    text-decoration: underline;
}

.menuItem:hover {
    filter: invert(3%);
    opacity: 1;
}

.menuItem>img {
    margin-right: -8px;
}

.dropdownWrapper {
    position: absolute;
    padding-top: 18px;
    pointer-events: none;
    width: fit-content;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 8px;
    background-color: var(--color-white);
    border-radius: 10px;
    opacity: 0;
    box-shadow: var(--shadow-regular);
    transform: translateY(-5px);
    border: 1px solid var(--color-border);

    /* Transition with slgiht bounce effect */
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.dropdownMenu>a {
    width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
}

.container.active .menuItem>img {
    /* transform: rotate(-180deg); */
    transform: scale(-1);
}

.container.active .dropdownWrapper {
    pointer-events: all;
}

.container.active .dropdownMenu,
.dropdownWrapper.active .dropdownMenu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}