.container {
    display: flex;
    gap: 24px;
    padding: 16px;
    margin-right: 12px;
    width: 456px;
    flex-shrink: 0;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    width: 86px;
    height: 86px;
    border-radius: var(--border-radius-small);
    flex-shrink: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

@media (max-width: 880px) {
    .container {
        width: 300px;
        min-height: 150px;
    }

    .imageContainer {
        width: 55px;
        height: 55px;
    }

    .imageContainer img {
        width: 30px;
        height: 30px;
    }
}