.container {
  position: relative;
}

.overlay {
  position: relative;
  background-color: var(--color-background);
  overflow: hidden;
}

.maxWidth {
  display: flex;
  flex-direction: column;
  gap: 180px;
  padding: 80px 0 120px 0;

  max-width: var(--max-width);
  margin: 0 auto;
}

@media(max-width: 880px) {
  .maxWidth {
    gap: 100px;
    padding: 60px 0 120px 0;
  }

}

.badgePartnerMarquee {
  grid-column: 2/ 10;
}


@media (max-width: 880px) {
  .badgePartnerMarquee {
    grid-column: 1 / 13;
  }
}

.partnerMarqueeContainer {
  grid-column: 1 / 13;

}

.infoCardContainer {
  grid-column: 1 / 13;
}


.faqContainer {
  grid-column: 7 / 13;
}


.badgeFAQ {
  grid-column: 4 / 7;
  justify-self: flex-end;
}

@media (max-width: 880px) {
  .faqContainer {
    grid-column: 1 / 13;
  }

  .badgeFAQ {
    grid-column: 1 / 13;
    justify-self: flex-start;
  }
}