.container {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    width: max-content;
    min-width: 145px;
    min-height: 36px;
    padding: 0 16px;
    border-radius: 10px;

    text-decoration: none;
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
}

.container:hover {
    filter: invert(97%);
    opacity: 1;
}

@media (max-width: 880px) {
    .container {
        width: 100%;
        max-width: 400px;
    }
}