.container {
    display: flex;
    justify-content: center;

    width: fit-content;
    min-width: 145px;
    min-height: 36px;
    padding: 10px 16px;
    border-radius: 10px;

    text-decoration: none;
    background-color: var(--color-black)!important;
    color: var(--color-white)!important;
}

.container:hover {
    filter: invert(100%);
}