.container {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    width: max-content;
    min-width: 145px;
    min-height: 36px;
    padding: 0 16px;
    border-radius: 10px;
    bordeR: none;

    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-button-primary);
    color: var(--color-white);
}

.container.large {
    padding: 14px;
    min-height: 48px;
    width: 100%;
    border-radius: var(--border-radius);
}

.link:hover {
    opacity: 1;
}

.container:hover {
    background-color: var(--color-button-primary-hover);
    opacity: 1;
}

.spinner {
    width: 18px;
    height: 18px;
    border: 2px solid transparent;
    border-top: 2px solid var(--color-white);
    border-radius: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@media (max-width: 880px) {
    .container {
        width: 100%;
        /* max-width: 400px; */
    }
}