.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 18px 24px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.container > p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.isFocused {
    outline: 1px solid var(--color-border);
}

.donationContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.donationContainer p:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: fit-content;
    min-width: 24px;
    background-color: var(--color-white);
    border-radius: 6px;
}

@media (max-width: 880px) {
    .container {
        min-width: 250px;
    }
}