.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    gap: 48px;
    padding: 48px;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.storeContainer {
    display: flex;
    gap: 12px;
}

.image {
    border-radius: var(--border-radius);
}