.container {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 99999;
    bottom: 0;
    left: 0;
    padding: 16px;
    background-color: var(--color-white);
    /* border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius); */
    width: 100%;
}

.container>a {
    width: 100%;
    max-width: unset;
}

@media (min-width: 1050px) {
    .container {
        display: none;
    }
}