.container {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 9;
    bottom: 0;
    left: 0;
    padding: 16px 24px;
    background-color: var(--color-white);
    background-color: var(--color-primary);
    width: 100%;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05);
}

.container>a {
    width: 100%;
    max-width: unset;
}

@media (min-width: 1050px) {
    .container {
        display: none;
    }
}