.container {
    padding-top: 76px;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 120px;
}

.header {
    grid-column: 1 / 13;
    margin-bottom: 120px;
}

.cardOne {
    grid-column: 3 / 6;
}

.cardTwo {
    grid-column: 6 / 11;
}

@media (max-width: 1000px) {
    .header {
        margin-bottom: 12px;
    }

    .cardOne {
        grid-column: 1 / 13;
    }

    .cardTwo {
        grid-column: 1 / 13;
    }
}