.wrapper {
    min-height: calc(100vh - 70px);
}

.container {
    margin: 136px 0;
    grid-column: 4 / 10;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container h3 {
    margin: 40px 0 12px 0;
}

.container h5 {
    margin: 60px 0 24px 0;
}

.spacer {
    height: 60px;
}

.container li {
    margin-left: 24px;
}

.tableScroll {
    overflow: scroll;
}

.container table {
    border-collapse: collapse;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
}

.container th {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    border: 1px solid black;
    padding: 4px;
}

.container td {
    border: 1px solid black;
    padding: 4px;
}

.container tr {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

@media (max-width: 880px) {
    .container {
        grid-column: 1 / 13;
    }

    .titleContainer {
        align-items: flex-start;
        flex-direction: column;
    }
}