.badge {
    grid-column: 4 / 7;
    justify-self: flex-end;
}

.faqContainer {
    grid-column: 7 / 13;
    display: flex;
    flex-direction: column;
    padding: 24px 60px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);

    margin-bottom: 272px;
}

@media (max-width: 880px) {
    .badge {
        grid-column: 1 / 13;
        justify-self: flex-start;
    }

    .faqContainer {
        grid-column: 1 / 13;
        padding: 24px 24px;
        margin-bottom: 120px;
    }
}