.layoutWrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

.headerWrapper {
    padding: 74px 24px 24px 24px;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 24px;
    padding: 24px;
}

.mobileContentWrapper {
    display: none;
}

@media(max-width: 768px) {

    .mobileContentWrapper {
        display: block;
        border: 4px solid green;
        width: 100%;
        height: 50px;
    }

    .contentWrapper {
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    .desktopElement {
        display: none !important;
    }
}