.layoutWrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

.headerWrapper {
    padding: 74px 24px 24px 24px;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 24px;
    padding: 24px;
}

.pageWrapper {
    background-color: red;
}