.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.actionText {
    color: var(--color-action-item-bar-text)
}

.textInput {
    max-width: 300px;
}

.link {
    color: var(--color-accent);
}

/* FUNCTIONAL STYLES */
.desktopOnly {
    display: block;
}

.mobileOnly {
    display: none;
}

@media(max-width: 768px) {
    .desktopOnly {
        display: none !important;
    }

    .mobileOnly {
        display: block;
    }
}