.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.actionText {
    color: var(--color-action-item-bar-text)
}

.textInput {
    max-width: 300px;
}

.link {
    color: var(--color-accent);
}