.container {
    margin-bottom: 120px;
}

.badge {
    grid-column: 1 / span 2;
}

.cardOne {
    grid-column: 1 / span 4;
}

.cardTwo {
    grid-column: 5 / span 4;
}

.cardThree {
    grid-column: 9 / span 4;
}