.container>*:nth-child(2) {
    margin-top: 12px;
}

.input {
    border: 1px solid #E5E5E5;
    border-radius: var(--border-radius-button);
    padding: 14px;
    width: 100%;
    line-height: 100%;
}

.input.small {
    padding: 9px;
    border-radius: var(--border-radius-xs);
}

.input:disabled {
    background-color: var(--color-input-bg-deactivated);
    color: var(--color-input-text-deactivated);
}