:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-primary: #e5ff9b;
  --color-background: #f6f6f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--color-background);
  overflow-x: hidden;
}

.grid {
  /* background-color: rgb(205, 205, 205); */

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 12px;
  padding: 0 24px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
