.container {
  position: relative;
}

.overlay {
  position: relative;
  background-color: var(--color-background);
  overflow: hidden;
}

.maxWidth {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 950px) {
  .maxWidth {
    margin-bottom: 180px;
  }
}