.container {
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;
    padding: 24px 60px;
    height: 321px;

    background-color: var(--color-primary);
    border-radius: var(--border-radius);
}

.container h1 {
    position: relative;
}

.imageOne,
.imageTwo {
    position: absolute;
}

.imageOne {
    bottom: -90%;
    left: 40%;
    transform: translate(0, 0) rotate(90deg);
}

.imageTwo {
    bottom: 10%;
    left: 70%;
    transform: rotate(80deg);
}


@media (max-width: 880px) {
    .container {
        padding: 12px 24px;
        height: 280px;
    }

    .container h1 {
        max-width: 420px;
    }

    .imageOne {
        left: 30%;
        transform: rotate(90deg) scale(0.8);
    }

    .imageTwo {
        bottom: 30%;
        transform: rotate(80deg) scale(0.8);
    }
}