.footerBg {
    position: relative;
    background-color: var(--color-background);
    padding: 0 12px 12px 12px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: var(--max-width);

    margin: 0 auto;
    /* padding: 16px 24px; */
    padding: 48px;

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-regular);
}

.footerLinks {
    display: flex;
    gap: 96px;
}

.textWithIconLink {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
}

.textWithIconLink > svg {
    width: 24px;
    height: 24px;
}

.footerDocuments {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 950px) {
    .container {
        grid-column: 1 / 13;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 48px;
    }

    .footerLinks {
        flex-direction: column;
        width: 100%;
        gap: 48px;
    }
}