.footer {
    position: absolute;
    bottom: 12px;
    left: calc(50%);
    transform: translateX(-50%);


    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 24px);
    max-width: var(--max-width);
    background-color: var(--color-white);
    padding: 16px 24px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-regular);
}

.footer>div {
    display: flex;
    gap: 36px;
}

@media (max-width: 950px) {
    .container {
        grid-column: 1 / 13;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 24px;
    }

    .footer>div {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 12px;
    }
}