.footerBg {
    position: relative;
    background-color: var(--color-background);
    padding: 0 12px 12px 12px;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);

    margin: 0 auto;
    padding: 16px 24px;

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    /* box-shadow: var(--shadow-regular); */
}

.footer>div {
    display: flex;
    gap: 36px;
}

@media (max-width: 950px) {
    .container {
        grid-column: 1 / 13;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        padding: 24px;
    }

    .footer>div {
        flex-direction: column;
        /* align-items: center; */
        width: 100%;
        gap: 12px;
    }
}