.container {
    position: relative;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 12px;
    height: fit-content;
    z-index: 99;
}

.footer {
    grid-column: 1 / 13;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-white);
    padding: 16px 24px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-regular);
}

.footer>div {
    display: flex;
    gap: 36px;
}

@media (max-width: 880px) {
    .container {
        grid-column: 1 / 13;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 24px;
    }

    .footer>div {
        flex-direction: column;
        /* align-items: flex-start; */
        width: 100%;
        gap: 12px;
    }
}